footer
  nav
    a(href='/sun') Sol (Inicio)
    |
    a(href='/personal') Personal
    |
    a(href='/reflexive') Reflexivo
    |
    a(href='/labor') Laboral
    |
    a(href='/tech') Tecnológico
    |
    a(href='/solarSystem') Vista de nave
