#loadUniverseView
  #leftSide
    .leftSideInternal
    .negativeSpikeContainer
      .negativeSpikeTop
      .negativeSpikeBottom
  #rightSide
    .spike Aproximándose al sistema solar central

    //#loadProgressView
    //  #loadInfo Aproximándose al sistema solar central
