#loadUniverseView
  #leftSide
    .leftSideInternal
    .negativeSpikeContainer
      .negativeSpikeTop
      .negativeSpikeBottom
  #rightSide
    .spike
      .spikeInternal

    //#loadProgressView
    //  #loadInfo Aproximándose al sistema solar central
