#loadUniverseView
  #leftSide
    .leftSideInternal
    .negativeSpikeContainer
      .negativeSpikeTop
      .negativeSpikeBottom
  #rightSide
    .spike
    .loadProgressView
      #loadInfo
        h5 Aproximándose al sistema solar central
        p Distancia: #[span#lightYearsLabel 987588684] años luz
      .loadBar
        #loadBarInner
