#loadUniverseView
  #leftSide
    .leftSideInternal
    .negativeSpikeContainer
      .negativeSpikeTop
      .negativeSpikeBottom
  #rightSide
    .spike
    .loadProgressView
      #loadInfo
        h5=t('loading.approachingSolarSystem')
        p#distanceMessage
      .loadBar
        #loadBarInner
