//nav
//  a(href='/') Sistema solar
//  |
//  a(href='/sun') Sol
//  |
//  a(href='/personal') Personal
//  |
//  a(href='/reflexive') Reflexivo
//  |
//  a(href='/labor') Labor
//  |
//  a(href='/tech') Tecnológico