@import 'nib'
@import '../utils/config'
@import '../utils/animations'

section.planet
  header
    background: radial-gradient(ellipse closest-side,
                                rgba(255,255,255,0.8),
                                rgba(255,255,255,0.15) 70%,
                                rgba(255,255,255,0) 90%)
    h1
      margin-bottom: 0.5em