@import 'nib'
@import '../utils/config'
@import '../utils/animations'

.solarSystem
  position: absolute
  top: 50%
  left: 50%
  margin-top: -(solarSystemSize/2)
  margin-left: -(solarSystemSize/2)
  z-index: 1000
  width: solarSystemSize
  height: solarSystemSize
  border: 5px solid orange
  transition: transform 5s ease-in-out
  transform: scale(0.3)
  &:active
    transform: scale(2)
  .sun, .planet
    position: absolute
    top: 50%
    left: 50%
  .sun
    width: solarSystemSize * sunSizeScale
    height: solarSystemSize * sunSizeScale
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    background-image: url(/assets/img/solarSystem/sun.png)
    background-repeat: no-repeat
    background-size: contain
  .planet
    width: solarSystemSize * planetSizeScale
    height: solarSystemSize * planetSizeScale
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    &.personal
      animation: personalOrbit personalOrbitPeriod linear 0s infinite
      background: #ddd
    &.reflexive
      animation: reflexiveOrbit reflexiveOrbitPeriod linear 0s infinite
      background: #dfd
    &.labor
      animation: laborOrbit laborOrbitPeriod linear 0s infinite
      background: #c09853
    &.technological
      animation: technologicalOrbit technologicalOrbitPeriod linear 0s infinite
      background: #049cdb
