@import 'nib'
@import '../utils/config'
@import '../utils/vendor'
@import '../utils/animations'

.solarSystemWrap
  &,.solarSystem
    position: absolute
    top: 50%
    left: 50%
    width: 10em
    height: 10em
    margin-left: -(@width/2)
    margin-top: -(@height/2)
    z-index: 100

  //////////// STILL IN PROGRESS //////////////

  factor = 7.6
  .solarSystem
    transform: scale(0.002)
  .trails
    background-size: personalOrbitRadius * 0.002 * factor personalOrbitRadius * 0.002 * factor
  &:active
    .solarSystem
      transform: scale(1)
    .trails
      background-size: personalOrbitRadius * 1 * factor personalOrbitRadius * 1 * factor

  .trails
    transition: background-size 10s linear
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    makeTrails(personalOrbitRadius personalColor,
               reflexiveOrbitRadius reflexiveColor,
               laborOrbitRadius laborColor,
               technologicalOrbitRadius technologicalColor)

  ///////////////////////////////////////////////////////

  .solarSystem
    transition: transform 10s linear
    &.stopPlanets
      .planet
        animation-play-state: paused

    .sun, .planet, .planetTrail
      position: absolute
      top: 50%
      left: 50%

    .sun
      width: sunSize
      height: sunSize
      margin-left: -(@width/2)
      margin-top: -(@height/2)
      background-image: url(/assets/img/solarSystem/sun.png)
      background-repeat: no-repeat
      background-size: contain

    .planet
      transform-style: flat
      z-index: 100
      width: planetSize
      height: planetSize
      margin-left: -(@width/2)
      margin-top: -(@height/2)
      border-radius: planetSize
      &.personal
        animation: personalOrbit personalOrbitPeriod linear 0s infinite
        background: personalColor
      &.reflexive
        animation: reflexiveOrbit reflexiveOrbitPeriod linear 0s infinite
        background: #dfd
      &.labor
        animation: laborOrbit laborOrbitPeriod linear 0s infinite
        background: #c09853
      &.technological
        animation: technologicalOrbit technologicalOrbitPeriod linear 0s infinite
        background: #049cdb

    //.planetTrail
    //  &.personal
    //    makeTrail(personalOrbitRadius, personalColor)
    //  &.reflexive
    //    makeTrail(reflexiveOrbitRadius, reflexiveColor)
    //  &.labor
    //    makeTrail(laborOrbitRadius, laborColor)
    //  &.technological
    //    makeTrail(technologicalOrbitRadius, technologicalColor)

    //.planetTrailChunk
    //  position: absolute
    //  overflow: hidden