@import 'nib'
@import '../utils/config'
@import '../utils/animations'

section.sun
  header
    text-align: center
    margin-top: 1em
    color: black
    background: radial-gradient(ellipse closest-side,
                                rgba(255,255,255,0.8),
                                rgba(255,255,255,0.15) 70%,
                                rgba(255,255,255,0) 90%)
    padding: 2em 0
    h1
      margin-bottom: 0.5em
  nav
    animateListOnClass(showNav, animationShortest, animationMedium)
    a
      display: block
      margin: 0 auto 1em auto
      width: 23em
      text-decoration: none
      div
        transition: all animationShortest
        padding: 0.6em 1em
        background-color: bgColorNavSection
        &:hover
          background-color: bgColorNavSectionHover
          box-shadow: 0 0 30px 5px shadowColorNavSectionHover
        &:active
          transform: scale(0.95,0.95)