@import 'nib'
@import '../utils/config'
@import '../utils/animations'

section.sun
  header
    background: radial-gradient(ellipse closest-side,
                                rgba(255,255,255,0.8),
                                rgba(255,255,255,0.5) 60%,
                                rgba(255,255,255,0) 100%)
    h1
      margin-bottom: 0.5em
  nav
    animateListOnClass(showNav, animationShortest, animationMedium)
    a
      display: block
      margin: 0 auto 1em auto
      width: 23em
      font-weight: normal
      &:hover
        text-decoration: none
      div
        transition: transform animationShortest
        padding: 0.6em 1em
        background-color: navSectionBgColor
        &:hover
          background-color: navSectionHoverBgColor
          box-shadow: 0 0 30px 5px navSectionHoverShadowColor
        &:active
          transform: scale(0.95,0.95)