@import 'nib'
@import '../utils/config'

.universe
  position: relative
  width: 100%
  height: 100%
  overflow: auto
  color: fontColorMain
  em
    font-style: italic
  strong
    font-weight: bold
  a
    color: fontColorMain
    text-decoration: none
    &:hover
      text-decoration: underline
  article
    p
      margin-bottom: 0.5em
    a
      font-weight: bold

  canvas
    position: fixed
    top: 0
    left: 0

transitionTime = 3s
doorSpikeWidth = 150px
doorSpikeHeight = 300px
doorSpikeCompression = doorSpikeHeight/8
leftDoorBackground = rgb(15,15,15)
rightDoorBackground = rgb(10,10,10)
#loadUniverseView
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: hidden
  z-index: 1000
  #leftSide, #rightSide
    position: absolute
    top: 0
    bottom: 0
    width: 50%
    transition-property: left, right, opacity
    transition-duration: transitionTime
    transition-delay: 1.5s, 1.5s, 0.5s
  #leftSide
    left: 0
    .leftSideInternal
      background: leftDoorBackground
      position: relative
      right: doorSpikeWidth
      height: 100%
    .negativeSpikeContainer
      position: absolute
      top: 50%
      height: doorSpikeHeight - doorSpikeCompression*2
      width: doorSpikeWidth
      margin-top: -(@height/2)
      right: 0
      .negativeSpikeTop,.negativeSpikeBottom
        position: absolute
        width: 100%
        height: 2000px // To avoid showing its end in the scree
        box-sizing: border-box
        border-left: doorSpikeWidth solid leftDoorBackground
      .negativeSpikeTop
        bottom: 100%
        border-bottom: doorSpikeCompression solid transparent
      .negativeSpikeBottom
        top: 100%
        border-top: doorSpikeCompression solid transparent
  #rightSide
    right: 0
    background: rightDoorBackground
    .spike
      position: absolute
      box-sizing: border-box
      height: doorSpikeHeight
      width: 0
      top: 50%
      margin-top: -(@height/2)
      left: -(doorSpikeWidth)
      border-top: doorSpikeCompression solid transparent
      border-bottom: doorSpikeCompression solid transparent
      border-right: doorSpikeWidth solid rightDoorBackground

  &.loadingComplete
    #leftSide
      left: -65%
      opacity: 0.4
    #rightSide
      right: -65%
      opacity: 0.4

  .loadProgressView
    position: absolute
    top: 50%
    height: 150px
    width: 300px
    margin-top: -(@height/2)
    margin-left: -(@width/2)
    padding: 1em
    h5
      font-family: Orbitron
      font-weight: bold
      text-align: center
      margin-bottom: 0.8em
    .loadBar
      position: relative
      margin-top: 1em
      box-sizing: border-box
      height: 30px
      border-radius: 10px
      overflow: hidden
      &:before
        content:''
        display:block
        box-shadow: 0px 0px 20px 3px black inset
        position:absolute
        top:0
        left:0
        width:100%
        height:100%
    p
      text-align: center
      font-family: Orbitron
    #loadBarInner
      height: 100%
      width: 0
      background-color: #eee
      transition: width 0.2s
