@import 'nib'
@import '../utils/config'

.universe
  position: relative
  width: 100%
  height: 100%
  overflow: auto
  color: fontColorMain
  em
    font-style: italic
  strong
    font-weight: bold
  a
    color: fontColorMain
    text-decoration: none
    &:hover
      text-decoration: underline
  article
    p
      margin-bottom: 0.5em
    a
      font-weight: bold

  canvas
    position: fixed
    top: 0
    left: 0

transitionTime = 3s
doorSpikeWidth = 150px
doorSpikeHeight = 300px
doorSpikeCompression = doorSpikeHeight/8
leftDoorBackground = rgb(80,80,80)
rightDoorBackground = rgb(60,60,60)
#loadUniverseView
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: hidden
  z-index: 1000
  #leftSide, #rightSide
    position: absolute
    top: 0
    bottom: 0
    width: 50%
  #leftSide
    left: 0
    transition: left transitionTime
    .leftSideInternal
      background: leftDoorBackground
      position: relative
      right: doorSpikeWidth
      height: 100%
    .negativeSpikeContainer
      position: absolute
      top: 50%
      height: doorSpikeHeight - doorSpikeCompression*2
      width: doorSpikeWidth
      margin-top: -(@height/2)
      right: 0
      .negativeSpikeTop,.negativeSpikeBottom
        position: absolute
        width: 100%
        height: 2000px // To avoid showing its end in the scree
        box-sizing: border-box
        border-left: doorSpikeWidth solid leftDoorBackground
      .negativeSpikeTop
        bottom: 100%
        border-bottom: doorSpikeCompression solid transparent
      .negativeSpikeBottom
        top: 100%
        border-top: doorSpikeCompression solid transparent
  #rightSide
    right: 0
    transition: right transitionTime
    background: rightDoorBackground
    .spike
      position: absolute
      box-sizing: border-box
      height: doorSpikeHeight
      width: 0
      top: 50%
      margin-top: -(@height/2)
      left: -(doorSpikeWidth)
      border-top: doorSpikeCompression solid transparent
      border-bottom: doorSpikeCompression solid transparent
      border-right: doorSpikeWidth solid rightDoorBackground

  &.loadingComplete
    #leftSide
      left: -65%
    #rightSide
      right: -65%
  #loadProgressView
    position: absolute
    top: 50%
    height: size = 300px
    width: size
    margin-top: -(size/2)
    margin-left: -(size/2)
    border-radius: size
    border: 10px outset gray
    background-color: black

