doctype html
html
  head
    title= 'Universo de Álvaro López Espinosa'
    != css('main.css')
  body
    block content
    script(src='i18next/i18next.js', type='text/javascript')
    != js('main.js')