xTranslation = 500px
yRotation = 45deg
animDuration = 8s
animOpacityDuration = animDuration/2
quoteOutDelay = animDuration/5
scrollTimeMargins = 1s

.quotesSlider
  position: relative
  height: 10em
  overflow: visible
  perspective: 500px
  >.quoteContainer
    position: absolute
    overflow: hidden
    opacity: 0
    height: 100%
    width: 100%
    transform-origin: 50% 50% -1000px
    transform: rotateY(-(yRotation)) translateX(-(xTranslation))
    transition-property: opacity, transform
    transition-duration: animOpacityDuration, animDuration
    backface-visibility: hidden

  >.selected
    opacity: 1
    transform: rotateY(0) translateX(0)

  >.deselected
    transition-delay: quoteOutDelay
    transition-duration: animDuration, animDuration
    transform: rotateY(yRotation) translateX(xTranslation)

  .quoteScroller
    transition-property: margin-top
    transition-timing-function: ease-in
    transition-delay: animDuration + scrollTimeMargins
    //transition-duration set in javascript

.clearTransitions
  transition: none !important