blockquote
  h5 Ideales en equilibrio
  ul
    li Sinceridad #[em con] amabilidad
    li Entusiasmo #[em sin] fanatismo
    li Imaginativo #[em pero] práctico
    li Valentía #[em sin] temeridad
    li Prudencia #[em sin] cobardía
    li Compasión #[em sin] sensiblería
    li Bondad #[em con] inteligencia
    li Optimismo #[em no] irracional
    li Generosidad #[em sin] derroche
    li Decisión #[em con] paciencia
    li Confianza #[em con] humildad
blockquote No guardes lo mejor para días especiales, haz especial cada día usando lo mejor
