blockquote
  h3 Ideales en equilibrio
  ul
    li Sinceridad #[strong con] amabilidad
    li Entusiasmo #[strong sin] fanatismo
    li Imaginativo #[strong pero] práctico
    li Valentía #[strong sin] temeridad
    li Prudencia #[strong sin] cobardía
    li Compasión #[strong sin] sensiblería
    li Bondad #[strong con] inteligencia
    li Optimismo #[strong no] irracional
    li Generosidad #[strong sin] derroche
    li Decisión #[strong con] paciencia
    li Confianza #[strong con] humildad
blockquote No guardes lo mejor para días especiales, haz especial cada día usando lo mejor
blockquote Tu vida nunca irá más allá de lo que piensas. Piensa en grande
blockquote La única manera de conocer los límites de lo posible es adentrarse en lo imposible
blockquote La gente que no puede te dirá que tú tampoco puedes
blockquote Al que se le perdona poco mostrará poco amor
blockquote Da limosna de lo que tienes en tu interior
blockquote La gente olvida lo que haces o dices, pero nunca cómo les haces sentir
blockquote
  ul
    li No es tan importante lo que comprendes, sino lo que #[strong deseas] comprender
    li No importa tanto cómo es tu mente, sino cómo #[strong se esfuerza] por ser
    li No importa lo que hoy eres, sino lo que #[strong vas siendo] día tras día
blockquote La mayor de las debilidades es el miedo a mostrarse débil
blockquote Se amable. Cada persona con la que te encuentras está luchando una dura batalla
blockquote En invierno hay unos que se mueren de frío y otros que salen a esquiar
blockquote Perdonar no es algo que haces por el otro, sino por ti mismo
blockquote Es difícil pelearse con alguien que nos ayuda y nos quiere
blockquote Conócete, acéptate, supérate
blockquote Prefiero mi manera de hacerlo a tu manera de #[strong no] hacerlo
blockquote Un viaje de 10.000 Km empieza por un sólo paso
blockquote Aprende a hablar en positivo y a decir #[strong no]
blockquote Cada error te enseña algo que necesitabas aprender
blockquote Sólo fracasa aquel que nunca intenta nada
blockquote Una persona es mejor cuando hace mejores a las demás
