blockquote
  h5 Ideales en equilibrio
  ul
    li Sinceridad #[em con] amabilidad
    li Entusiasmo #[em sin] fanatismo
    li Imaginativo #[em pero] práctico
    li Valentía #[em sin] temeridad
    li Prudencia #[em sin] cobardía
    li Compasión #[em sin] sensiblería
    li Bondad #[em con] inteligencia
    li Optimismo #[em no] irracional
    li Generosidad #[em sin] derroche
    li Decisión #[em con] paciencia
    li Confianza #[em con] humildad
blockquote No guardes lo mejor para días especiales, haz especial cada día usando lo mejor
blockquote Tu vida nunca irá más allá de lo que piensas. Piensa en grande
blockquote La única manera de conocer los límites de lo posible es adentrarse en lo imposible
blockquote La gente que no puede te dirá que tú tampoco puedes
blockquote Al que se le perdona poco, mostrará poco amor
blockquote Da limosna de lo que tienes en tu interior
blockquote La gente olvida lo que haces o dices, pero nunca cómo les haces sentir
blockquote
  ul
    li No es tan importante lo que comprendes, sino lo que deseas comprender
    li No importa tanto cómo es tu mente, sino cómo se esfuerza por ser
    li No importa lo que hoy eres, sino lo que vas siendo día tras día
blockquote La mayor de las debilidades es el miedo a mostrarse débil
blockquote Se amable. Cada persona con la que te encuentras está luchando una dura batalla
blockquote En invierno hay unos que se mueren de frío y otros que salen a esquiar
blockquote Perdonar no es algo que haces por el otro, sino por ti mismo
blockquote Es difícil pelearse con alguien que nos ayuda y nos quiere
blockquote Conócete, acéptate, supérate
blockquote Prefiero mi manera de hacerlo a tu manera de #[em no] hacerlo
blockquote Un viaje de 10.000 Km empieza por un sólo paso
blockquote Aprende a hablar en positivo y a decir no
blockquote Cada error te enseña algo que necesitabas aprender
blockquote Sólo fracasa aquel que nunca intenta nada

