//= require_tree lib
body
  font-size: 16px
.universe
  width: 200em
  height: 200em
  background: black
.system
  width: 100em
  height: 100em
  background: blue

  canvas
    width: 100%
    height: 100%
