@import 'nib'

global-reset()

body
  font-size: 16px

.universe
  width: 200em
  height: 200em
  background: black

.planetary-system
  width: 100em
  height: 100em
  background: linear-gradient(bottom left, white, red, blue, black)