@import 'config'

offsets = rand()*360 rand()*360 rand()*360 rand()*360

@keyframes personalOrbit
  0%
    transform: rotate(360deg + offsets[0]),
               translate(personalOrbitRadius,0)
  100%
    transform: rotate(0deg + offsets[0]),
               translate(personalOrbitRadius,0)

@keyframes reflexiveOrbit
  0%
    transform: rotate(360deg + offsets[1]),
               translate(reflexiveOrbitRadius,0)
  100%
    transform: rotate(0deg + offsets[1]),
               translate(reflexiveOrbitRadius,0)

@keyframes laborOrbit
  0%
    transform: rotate(0deg + offsets[2]),
               translate(laborOrbitRadius,0)
  100%
    transform: rotate(360deg + offsets[2]),
               translate(laborOrbitRadius,0)

@keyframes technologicalOrbit
  0%
    transform: rotate(360deg + offsets[3]),
               translate(technologicalOrbitRadius,0)
  100%
    transform: rotate(0deg + offsets[3]),
               translate(technologicalOrbitRadius,0)