flex-version = box //For nib mixins and functions

// 3D properties
cameraDistance = 50em

// General sizes
solarSystemSize = 1000em
sunSize         = solarSystemSize / 10
planetSize      = solarSystemSize / 50

// Orbits periods
baseOrbitPeriod           = 4s
personalOrbitPeriod       = 1.5 * baseOrbitPeriod
reflexiveOrbitPeriod      = 2.0 * baseOrbitPeriod
laborOrbitPeriod          = 4.1 * baseOrbitPeriod
technologicalOrbitPeriod  = 5.9 * baseOrbitPeriod

//Orbits radius an trails sizes
baseOrbitRadius           = solarSystemSize / 10
personalOrbitRadius       = 1.2 * baseOrbitRadius + planetSize / 2
reflexiveOrbitRadius      = 2.2 * baseOrbitRadius + planetSize / 2
laborOrbitRadius          = 3.5 * baseOrbitRadius + planetSize / 2
technologicalOrbitRadius  = 4.5 * baseOrbitRadius + planetSize / 2
trailWidth = planetSize * 3

// Colors
personalColor       = #fbda93
reflexiveColor      = #d3ebbe
laborColor          = #e1e5ea
technologicalColor  = #e1dfe1

// Usefull mixin to insert trails styles for each planet
makeTrail(orbitRadius, color)
  width: orbitRadius * 2 + trailWidth
  height: @width
  margin-left: -(@width/2)
  margin-top: -(@height/2)

  beginTrail = ( (orbitRadius - trailWidth/2) / @width )%
  endTrail   = ( (orbitRadius + trailWidth/2) / @width )%
  background: radial-gradient(circle closest-side,
                              rgba(color,0) beginTrail,
                              rgba(color,0.3),
                              rgba(color,0.5),
                              rgba(color,0.5),
                              rgba(color,0.3),
                              rgba(color,0) endTrail)
