@import 'nib'
@import './config'

//Nib does not support radial-gradient right now.
radial-gradient(args...)
  for v in vendor-prefixes
    add-property('background-image',s('-%s-radial-gradient(%s)',v,s(join(',',arguments)))) unless v == 'official'

makeTrails(trails...)
  maxRadius = 0em
  maxRadius = max(maxRadius,trailData[0]) for trailData in trails
  maxRadius += trailWidth
  colorStops = ()
  for trailData in trails
    radius = trailData[0]
    color  = trailData[1]
    push(colorStops,
      rgba(color,0) (101 * (radius - trailWidth/2) / maxRadius)%,
      rgba(color,0.03),
      rgba(color,0.05),
      rgba(color,0.05),
      rgba(color,0.03),
      rgba(color,0) (101 * (radius + trailWidth/2) / maxRadius)%)
  background-repeat: no-repeat
  background-position: center
  backgrouns-size: maxRadius maxRadius
  background-image: radial-gradient(50% 50%, closest-side, unquote(join(',',colorStops)))